h2 {
  font-size: 1.75em;
}

.generated-script {
  white-space: pre-line;
}

.argument-field {
  background-color: lightgray;
  padding: 0.5em;
  margin: 0.5em;
  width: 100%;
}

span .glyphicon-sort {
  font-size: 2em;
}

.control-label {
  font-size: 1.25em
}