.container-root {
  overflow-x: hidden;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-title {
  flex-grow: 1;
  padding: 5px;
}

.container-add {
  padding: 1px;
}

.container-list {
  height: 100vh;
  height: -webkit-calc(100vh - 152px);
  height: -moz-calc(100vh - 152px);
  height: calc(100vh - 152px);
}