body {
  /* background-color: darkolivegreen; */
  /* color: #ffffff; */
  font-family: 'Roboto', sans-serif;
  padding: 4em 1em 0em 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}

.item-list {
  height: 80vh;
  overflow-y: scroll;
  padding: 0.5em 1em;
}

.argument-item {
  padding: 0em 1em 1em;
  margin: 8px 0em;
}

#generated-script {
  white-space: pre-line;
}