body {
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
  padding: 5em 1em 0em 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}

#generated-script {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  white-space: pre-line;
}

.item-list {
  height: 80vh;
  padding: 0.5em 0em;
}

.argument-item {
  padding: 0em 1em 0em;
  margin: 0px 0em;
}

.drag-handle {
  color: #fff;
  padding: 2px 6px 3px;
}