#generated-script {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  white-space: pre-line;
}

.output-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-title {
  flex-grow: 1;
  flex-basis: 0;
}

.output-copy {
}